<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body style="background">
<h2>The Bill Form</h2>
<p>Fill in the form:</p>
<form action="/bill_form" method = "post">
    {{billform.amount.label}} {{billform.amount}}
    <br>
    <br>
    {{billform.period.label}} {{billform.period}}
    <hr>
    <p>First Flatmate</p>
    {{billform.name1.label}} {{billform.name1}}
    {{billform.days_in_house1.label}} {{billform.days_in_house1}}
    <br>
    <br>
    <p>Second Flatmate</p>
    {{billform.name2.label}} {{billform.name2}}
    {{billform.days_in_house2.label}} {{billform.days_in_house2}}
    <br>
    <br>
    {{billform.button}}
    <br>
    <br>
    {% if result %}
    {{name1}} pays ${{amount1}}
    <br>
    <br>
    {{name2}} pays ${{amount2}}
    {% endif %}
</form>
</body>
</html>